In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries

In [8]:
key=open(f'D:/1_alpha_vantage.txt').read()

In [10]:
ts=TimeSeries(key,output_format='pandas')
data,meta=ts.get_intraday('TSLA',interval='1min',outputsize='full')

In [11]:
meta

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'TSLA',
 '3. Last Refreshed': '2024-03-19 19:59:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15360 entries, 2024-03-19 19:59:00 to 2024-02-27 04:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    15360 non-null  float64
 1   2. high    15360 non-null  float64
 2   3. low     15360 non-null  float64
 3   4. close   15360 non-null  float64
 4   5. volume  15360 non-null  float64
dtypes: float64(5)
memory usage: 720.0 KB

In [13]:
data.head(

                     1. open  2. high  3. low  4. close  5. volume
date
2024-03-19 19:59:00   171.46   171.61  171.46   171.585     4060.0
2024-03-19 19:58:00   171.58   171.74  171.44   171.460     7967.0
2024-03-19 19:57:00   171.47   171.58  171.43   171.500     2083.0
2024-03-19 19:56:00   171.51   171.55  171.43   171.500     1290.0
2024-03-19 19:55:00   171.49   171.53  171.45   171.500     2965.0

In [16]:
data.tail()

                     1. open  2. high  3. low  4. close  5. volume
date
2024-02-27 04:04:00   199.97   200.12  199.91    199.97     7297.0
2024-02-27 04:03:00   199.99   200.00  199.89    199.93     3983.0
2024-02-27 04:02:00   199.90   200.02  199.90    199.98     3886.0
2024-02-27 04:01:00   199.97   200.00  199.80    199.90     3106.0
2024-02-27 04:00:00   199.75   200.00  199.55    199.95     4871.0